////
/// Site container object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/swc
////

.site-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 100%;

	> * {
		width: 100%;
	}

	.sticky-header & {
		padding-top: $base--header-height;
	}

	.transparent-header & {
		padding-top: 0;
	}
}
