////
/// Wrap component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/swc
////

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: $layout--max-width;
	max-width: $layout--width;

	@include margin(null auto);

	@include mq(m) {
		flex-wrap: nowrap;
	}

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}
}
